<?xml version="1.0" ?>
<config>
    <modules>
        <Plumrocket_Faq>
            <version>0.0.1</version>
        </Plumrocket_Faq>
    </modules>
    <admin>
        <routers>
            <plumrocket_faq_admin>
                <use>admin</use>
                <args>
                    <module>Plumrocket_Faq</module>
                    <frontName>plumrocket_faq_admin</frontName>
                </args>
            </plumrocket_faq_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <plumrocket_faq module="plumrocket_faq">
                <title>FAQ</title>
                <sort_order>77</sort_order>
                <action>plumrocket_faq_admin/adminhtml_faq</action>
            </plumrocket_faq>
        </menu>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <plumrocket_faq>
                    <file>plumrocket_faq.xml</file>
                </plumrocket_faq>
            </updates>
        </layout>
        <routers>
            <plumrocket_faq>
               	<use>standard</use>
                <args>
                    <module>Plumrocket_Faq</module>
                    <frontName>faq</frontName>
                </args>
            </plumrocket_faq>
        </routers>
    </frontend>
    <global>
        <helpers>
            <plumrocket_faq>
                <class>Plumrocket_Faq_Helper</class>
            </plumrocket_faq>
        </helpers>
        <blocks>
            <plumrocket_faq>
                <class>Plumrocket_Faq_Block</class>
            </plumrocket_faq>
        </blocks>
    	<models>
            <plumrocket_faq>
                <class>Plumrocket_Faq_Model</class>
                <resourceModel>plumrocket_faq_resource</resourceModel>
            </plumrocket_faq>
            <plumrocket_faq_resource>
                <class>Plumrocket_Faq_Model_Resource</class>
                <entities>
                    <table_news>
                        <table>FAQ</table>
                    </table_news>
                </entities>
            </plumrocket_faq_resource>
        </models>
        <resources>
            <plumrocketfaq_setup>
                <setup>
                    <module>Plumrocket_Faq</module>
                </setup>
            </plumrocketfaq_setup>
        </resources>
    </global>
</config>